{% extends "home/home.html" %}

{% block issue %}
    <div class="modal" style="display: block;
    background: rgba(128,128,128,0.4);" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-dark text-white">
                <div class="modal-header">
                    <h5 class="modal-title">Yeni bir iş ekle</h5>
                    <a type="button" class="close text-white" href="/home">
                        <span aria-hidden="true">&times;</span>
                    </a>
                </div>
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="modal-body">
                        {{ form.as_p }}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" name="save" class="btn btn-primary">Ekle</button>
                        <a type="button" class="btn btn-secondary" href="/home">Kapat</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}